node_modules
.env
.env.*

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Private keys, mnemonics ve cüzdan bilgileri
mnemonic.txt
private-key.txt
*.secret
secrets.json
wallet.json

# Gas reporter dosyaları
gasReporterOutput.json

# Yerel deploy bilgileri (Hardhat network gibi)
/deployments/localhost/
/deployments/hardhat/

# Özel notlar
/notes
*.note
*.todo
